<div class="row" id="burgerBox">

  {{!-- burgers to be eaten html --}}
  <div class="col-12 col-md-4 order-md-first text-center mt-3">
    <h5>THESE BURGERS NEED TO BE ATE!</h5>
    <div class="eatBoxes">
    {{#each burgersToEat}}
    {{!-- {{#unless this.devoured}} --}}
        <div class="row">
          <div class="col-8">
            <p>{{this.burger_name}}</p>
          </div>
          <div class="col-4">
            <button class="devourButton btn btn-success" type="button" data-id="{{this.id}}" data-toggle="tooltip" title="Devour It!"><i class="fas fa-teeth-open"></i></button>
          </div>
        </div>
    {{!-- {{/unless}} --}}
      {{else}}
        <p>All Burgers have been Ate!</p>
    {{/each}}
    </div>
  </div>
  {{!-- end burgers to be eaten list --}}

  {{!-- form for new burger --}}
  <div class="col-12 col-md-4 order-first mt-3">
    <form class="text-center">
      <div class="form-group text-center">
        <label for="burger-type"><h5>ADD A BURGER!</h5></label>
        <input type="text" class="form-control" id="burger-type" placeholder="What's your flavor?">
      </div>
      <button type="submit" class="btn btn-warning">Submit &nbsp &nbsp<i class="fas fa-hamburger"></i></button>
    </form>
  </div>
  {{!-- end new burger form --}}

  {{!-- html for burgers that have been ate --}}
  <div class="col-12 col-md-4 text-center mt-3">
    <h5>THESE BURGERS HAVE BEEN ATE!</h5>
    <div class="eatBoxes">
    {{#each burgersAte}}
      {{!-- {{#if this.devoured}} --}}
      <p>{{this.burger_name}}</p>
      {{!-- {{/if}} --}}
      {{else}}
        <p>Hey, no Burgers have been ate...</p>
    {{/each}}
    </div>
  </div>
  {{!-- end burgers that have been eaten --}}

</div>

